<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />	
<link rel="stylesheet" type="text/css" href="estilosCU01052D.css">	
</head>
<body>
	<div>
			<h1>Formulario Informacion de Cliente: </h1>
			<br />
			<table border="2">
				<CAPTION></CAPTION>
				<tbody>
					<tr><td>Nombre del Titular</td></tr>
					<tr><td>DNI del Titular</td></tr>
				</tbody>
			</table>
	</div>
	<div  ng-app="sortApp"  ng-controller="myController">
			<h2>Cuentas Sueldo: </h2>
			<table>
			  <thead>
				  <td><b>Numero de Cuenta:</b></td><td><b>Saldo:</b></td><td><b>Titulares:</b></td><td><b>Nombre del Empleador:</b></td>
			  </thead>
			  <tr ng-repeat="dato in datosCS  | filter:nroCuentaCS" >
				<td>{{dato.NumeroDeCuenta}}</td>
				<td>{{dato.Saldo}}</td>
				<td>{{dato.Titulares}}</td>
				<td>{{dato.NombreDelEmpleador}}</td>
			  </tr>
			</table>
			Numero de Cuenta: <input type="text" ng-model="nroCuentaCS">
			<h2>Cuentas Corrientes: </h2>
			<table>
			  <thead>
				  <td><b>Numero de Cuenta:</b></td><td><b>Saldo:</b></td><td><b>Titulares:</b></td><td><b>Saldo en rojo:</b></td>
			  </thead>            
			  <tr ng-repeat="data in datosCC  | filter:nroCuentaCC">
				<td>{{data.NumeroDeCuenta}}</td>
				<td>{{data.Saldo}}</td>
				<td>{{data.Titulares}}</td>
				<td>{{data.SaldoEnRojo}}</td>
			  </tr>
			</table>
			Numero de Cuenta: <input type="text" ng-model="nroCuentaCC">

	</div>

			<br />
			<input id="Submit1" type="submit" value="submit" />
<script>
	angular.module('sortApp', [])
	.controller('myController', function($scope) {
			$scope.nroCuentaCS=""

			$scope.datosCS=[{"NumeroDeCuenta":"1111","Saldo":"1111","Titulares":["1", "2", "3", "4"],"NombreDelEmpleador":"11111"},
			{"NumeroDeCuenta":"2222","Saldo":"2222","Titulares":["1", "2", "3", "4"],"NombreDelEmpleador":"22222"},
			{"NumeroDeCuenta":"3333","Saldo":"3333","Titulares":["1", "2", "3", "4"],"NombreDelEmpleador":"33333"},
			{"NumeroDeCuenta":"4444","Saldo":"4444","Titulares":["1", "2", "3", "4"],"NombreDelEmpleador":"44444"},
			{"NumeroDeCuenta":"5555","Saldo":"5555","Titulares":["1", "2", "3", "4"],"NombreDelEmpleador":"55555"}]	

			$scope.datosCC=[{"NumeroDeCuenta":"1111","Saldo":"1111","Titulares":["1", "2", "3", "4"],"SaldoEnRojo":"11111"},
			{"NumeroDeCuenta":"2222","Saldo":"2222","Titulares":["1", "2", "3", "4"],"SaldoEnRojo":"22222"},
			{"NumeroDeCuenta":"3333","Saldo":"3333","Titulares":["1", "2", "3", "4"],"SaldoEnRojo":"33333"},
			{"NumeroDeCuenta":"4444","Saldo":"4444","Titulares":["1", "2", "3", "4"],"SaldoEnRojo":"44444"},
			{"NumeroDeCuenta":"5555","Saldo":"1111","Titulares":["1", "2", "3", "4"],"SaldoEnRojo":"55555"}]	
	})
</script>    
</body>
</html>
